<%- include('./layout/head') %> 
<%- include('./layout/navbar') %> 

<div class="container mt-2 shadow">
    <div class="row">
        <div class="col-md-12 mx-auto mt-3">

            <div class="card shadow">
                <div class="card-header">
                    <h3>
                        Home
                        <a href="/add" class="btn btn-dark btn-sm float-end">Add User</a>
                    </h3>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">ID</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Image</td>
                                <td>Eron</td>
                                <td>eron@gmail.com</td>
                                <td>099-999-1991</td>
                                <td>
                                    <a href="http://" class="text-success">Edit</a>
                                    <a href="http://" class="text-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer') %> 